img
{
	width: 200px;
	height: 200px;
}
.full
{
	display: flex;
	padding: 20px;
	background: red;
	background-size: auto;
    

}
body
{
	margin:100px 200px 100px 200px;
	border: 6px solid green;
	font-family: cursive;
	background: blueviolet;
 }
.text
{
	text-align: left;
	display: block;
	padding-left: 20px;
}
p
{
	font-family: fantasy;
}
h3
{
	font-family: monospace;
}
